body {
  background-color: #004466;
  margin: 0;
  padding: 0;
}
.fidget {
  position: absolute;
  top: 43%;
  left: 43%;
  height: 80px;
  width: 80px;
  background-color: #f2f2f2;
  border-radius: 50%;
  animation: spin 2s infinite;
}
@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}
.circle-1,
.circle-2,
.circle-3 {
  position: relative;
  background-color: transparent;
  border: 10px solid #f2f2f2;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.circle-1 {
  left: 5px;
  bottom: 55px;
}
.circle-2 {
  left: 60px;
  bottom: 40px;
}
.circle-3 {
  right: 50px;
  bottom: 110px;
}

.inner-1,
.inner-2,
.inner-3 {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 10px;
  top: 10px;
}
.inner-1 {
  background-color: #4775ff;
}
.inner-2 {
  background-color: #ffd147;
}
.inner-3 {
  background-color: #ff6347;
}
